# Base configuration
PUID=<your_PUID>
PGID=<your_PGID>
MEDIA_DIRECTORY=<media_directory>
INSTALL_DIRECTORY=<install_directory>
MEDIA_SERVICE=<media_service>

# VPN configuration
VPN_ENABLED=vpn_enabled
VPN_SERVICE=vpn_service
VPN_USER=vpn_user
VPN_PASSWORD=vpn_password
